<div class="wizard-area" ng-controller="ConfigCtrl">
    <div class="wizard-box" id="rootwizard">
        <h3 class="wizard-header">Marketplace Configuartion</h3>
        <div style="width:90px;float:left;overflow: hidden;height: 415px;overflow-y: scroll;">
            <ul class="nav nav-tabs wizard-channel-list">
                <li ng-class="wForm.index==1?'active':''">
                    <a ng-click="wForm.index=1;">
                        <img src="../images/flipkart-24x24.png" alt="" style="width:42px;height:42px;border:0">Flipkart</a>
                </li>
                <li ng-class="wForm.index==2?'active':''">
                    <a ng-click="wForm.index=2;">
                        <img src="../images/amazon-24x24.png" alt="" style="width:42px;height:42px;border:0">Amazon
                        </a>
                </li>
                <li ng-class="wForm.index==3?'active':''">
                    <a ng-click="wForm.index=3;">
                        <img src="../images/snapdeal.png" alt="" style="width:42px;height:42px;border:0">Snapdeal
                        </a>
                </li>
                <li ng-class="wForm.index==4?'active':''">
                    <a ng-click="wForm.index=4;">
                        <img src="../images/paytm.png" alt="" style="width:42px;height:42px;border:0">PayTM</a>
                </li>
                <li ng-class="wForm.index==5?'active':''">
                    <a ng-click="wForm.index=5;">
                        <img src="../images/tally.png" alt="" style="width:42px;height:42px;border:0">Tally</a>
                </li>
                <li ng-class="wForm.index==6?'active':''">
                    <a ng-click="wForm.index=6;">
                        <img src="../images/User.png" alt="" style="width:42px;height:42px;border:0">Settings</a>
                </li>
            </ul>
        </div> 

        <div style="width:65%;float:left; margin-left: 51px;">

            <div ng-if="wForm.index==1" id="FK-setting" ng-include="'views/setting/flipkart-setting-form.html'"></div>
            <div ng-if="wForm.index==2" id="AMAZON-setting" ng-include="'views/setting/amazon-setting-form.html'"></div>
            <div ng-if="wForm.index==3" id="SD-setting" ng-include="'views/setting/SD-setting-form.html'"></div>
            <div ng-if="wForm.index==4" id="PTM-setting" ng-include="'views/setting/PTM-setting-form.html'"></div>
            <div ng-if="wForm.index==5" id="tally-setting" ng-include="'views/setting/tally-setting-form.html'"></div>
            <div ng-if="wForm.index==6" id="other-setting" ng-include="'views/setting/other-setting-form.html'"></div>

            <ul class="pager">
                <li ng-if="wForm.index!=1" ng-click="wForm.index=wForm.index-1;"><a href="javascript:;">Previous</a></li>
                <li ng-if="wForm.index!=6" ng-click="wForm.index=wForm.index+1;"><a href="javascript:;">Skip</a></li>
                <li ng-if="wForm.index!=6" ng-click="submitAndNext();"><a href="javascript:;">Save And Next</a></li>
                <li ng-if="wForm.index==6" ng-click="submitSettingAndFinish();"><a href="javascript:;">Finish</a></li>
                <li ng-if="wForm.index==6" ng-click="main.dashboard='dashboard';"><a href="javascript:;">Skip And Finish</a></li>
                <li><a href="javascript:;">Validate</a></li>
            </ul>
        </div>
    </div>
</div>
